.custom-nav {
    display: flex;
    padding: 0 5% 0 5%;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-collapse {
    justify-content: center;
}

.main {
    background-image: url('../static/img/3.jpg');
    height: 90vh;
    background-size: cover;
    background-position: top;
}

.main {
    display: flex;
}

.main-data {
    margin: auto;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    text-align: center;
    position: relative;
}

.h1 {
    font-size: 3rem;
}

.main-btn {
    margin: auto;
    margin-top: 3rem;
}

.scop-bottom {
    position: absolute;
    bottom: -8px;
    right: -8px;
}

.scop-top {
    position: absolute;
    top: -8px;
    left: -8px;
}

.service {
    text-align: center;
    background-image: url('../static/img/4.jpg');
    background-position: center;
    background-size: cover;
    padding: 5% 15% 5% 15%;
}

.service .row {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
}

.service-info {
    background-color: white;
    width: 240px;
    height: 240px;
    padding: 20px 20px 0 20px;
}

.desc {
    text-transform: uppercase;
    font-weight: bold;
}

.team {
    background-color: #131D3B;
    padding: 5% 0;
}

.section-title {
    color: white;
    text-align: center;
}

.teamated {
    background-color: white;
    max-width: 30%;
    padding: 0 2rem 2rem 2rem;
    position: relative;
}

.teamated-info {
    margin-top: 5rem;
}

.teamated-ava {
    position: absolute;
    border-radius: 50%;
    background-image: url('../static/img/323.jpg');
    width: 15vw;
    max-width: 150px;
    height: 15vw;
    max-height: 150px;
    top: -5vw;
}

.name {
    font-weight: 700;
}

.mtop-5 {
    margin-top: 5rem;
}

.project > .row {
    min-height: 250px;
    margin-left: 0;
    margin-right: 0;
}

.project > .row > div {
    padding: 0;
}

#first-project {
    background-color: #15093a45;
    background-image: url(../static/img/first.jfif);
    background-size: cover;
    
    height: 100%;
}

#second-project {
    height: 100%;
    background-image: url('../static/img/second.jfif');
    background-size: cover;
}

#third-project {
    height: 100%;
    background-image: url('../static/img/third.jfif');
    background-size: cover;
}

#fourth-project {
    height: 100%;
    background-image: url('../static/img/fourth.jfif');
    background-size: cover;
}