@font-face {
    font-family: "Ubuntu";
    src: url("/static/fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Light";
    src: url("/static/fonts/Ubuntu-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("/static/fonts/Rubik-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Ubuntu";
    overflow-x: hidden;
    button:active,
    button:focus {
        outline: none !important;
    }
    .modal-bg {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(19, 29, 59, 0.8509803922);
        z-index: 1500;
        overflow: hidden;
    }
    .slider {
        .slider-close {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 1501;
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
            cursor: pointer;
        }
        img {
            width: 100%;
            height: 80vh;
        }
    }
}

.btn-slider {
    cursor: pointer;
}

.navbar {
    padding: 0;
    justify-content: space-between !important;
    .navbar-toggler-custom {
        display: none;
    }
    .navbar-brand {
        margin-right: 0;
    }
    .navbar-collapse {
        justify-content: center;
    }
}

.opacity-0 {
    opacity: 0 !important;
}

.btn-red {
    background-color: red;
    border: 0;
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    font-weight: 500;
}

a.btn-red {
    text-decoration: none;
}

a.btn-red:hover {
    color: #fff;
}

.btn-outline {
    background-color: inherit;
    border: 1px solid red;
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    font-weight: 500;
}

.clr-black {
    color: black;
}

.h1 {
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    line-height: 150%;
    border-bottom: 1px solid black;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.main {
    background-image: url("../../static/img/3.jpg");
    height: 90vh;
    background-size: cover;
    background-position: top;
    display: flex;
    .main-data {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        animation-duration: 1s;
        .title {
            color: white;
            text-align: center;
            position: relative;
            width: 35%;
            .scop-top {
                position: absolute;
                top: -8px;
                left: -8px;
                animation-delay: 0.1s;
            }
            h1 {
                font-size: 3rem;
            }
            .scop-bottom {
                position: absolute;
                bottom: -8px;
                right: -8px;
                animation-delay: 0.1s;
            }
        }
        .main-btn {
            margin-top: 3rem;
        }
        @media (max-width: 1000px) {
            .title {
                width: 60%;
            }
        }
        @media (max-width: 600px) {
            .title {
                width: 80%;
                h1 {
                    font-size: 2rem;
                }
            }
        }
    }
}

.about {
    padding: 4rem;
    h1 {
        font-weight: bold;
        font-size: 36px;
    }
    img {
        width: 100%;
        object-fit: cover;
    }
    .block-desc {
        padding-left: 5%;
        margin: auto;
        li {
            font-family: "Rubik";
            color: red;
            span {
                color: black;
            }
        }
         ::marker {
            top: 50px;
        }
    }
}

.service {
    text-align: center;
    background-image: url("../../static/img/4.jpg");
    background-position: center;
    background-size: cover;
    padding: 3rem 15% 3rem 15%;
    background-position: top;
    .h1 {
        color: white;
        border-bottom: 1px solid white;
    }
    .row {
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        .service-info {
            background-color: white;
            width: 250px;
            height: 250px;
            padding: 20px 10px 20px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            .icon {
                margin: auto;
                height: 40%;
                padding: 20px;
            }
            .desc {
                text-transform: uppercase;
                font-weight: bold;
                height: 60%;
                margin: auto;
            }
        }
    }
}

.team {
    background-color: #131d3b;
    padding: 3rem 0;
    overflow-x: hidden;
    .section-title {
        color: white;
        text-align: center;
    }
    .h1 {
        color: white;
        border-bottom: 1px solid white;
    }
    .row {
        justify-content: space-between;
    }
    .teamated {
        background-color: white;
        max-width: 30%;
        position: relative;
        font-family: "Rubik";
        //  border-bottom: 2px solid red;
        .teamated-info {
            padding: 5rem 2rem 2rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .name {
                font-size: 20px;
                font-weight: 600;
                padding: 10px 0;
            }
            .status {
                display: none;
                font-size: 14px;
                padding-bottom: 10px;
            }
            .email {
                display: none;
                opacity: 0;
            }
            .email.active{
                opacity: 1;
                transition: all 0.5s;
            }
            .active {
                display: block;
            }
            .botton {
                align-self: center;
                cursor: pointer;
                button:hover, button:active {
                    background-color: red;
                    color: white;
                }
            }
            * {
                flex: 1 1;
            }
        }
        .teamated-ava {
            border: 3px solid grey;
        }
    }
}

.project {
    padding: 3rem 5% 3rem 5%;
    h1 {
        color: black;
        text-align: center;
    }
    .row {
        margin: auto;
        [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
            position: relative;
            .block-project {
                min-height: 300px;
                background-size: cover;
                background-position: center;
                padding: 5%;
                z-index: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: "Rubik";
                .block-project-text {
                    z-index: 2;
                    span {
                        display: block;
                        color: white;
                    }
                    .project-name {
                        font-size: 18px;
                        font-weight: 500;
                        padding-bottom: 2%;
                    }
                    .projec-place {
                        padding: 2% 0;
                        font-size: 14px;
                        border-bottom: solid 1px #6c757d;
                    }
                    .project-width {
                        padding-top: 2%;
                        font-size: 16px;
                    }
                }
            }
            #project-1 {
                background-image: url("../../static/img/project-1.jpg");
            }
            #project-2 {
                background-image: url("../../static/img/project-2.jpg");
            }
            #project-3 {
                background-image: url("../../static/img/project-3.jpg");
            }
            #project-4 {
                background-image: url("../../static/img/project-4.jpg");
            }
            #project-5 {
                background-image: url("../../static/img/project-5.jpg");
            }
            #project-6 {
                background-image: url("../../static/img/project-6.jpg");
            }
            #project-7 {
                background-image: url("../../static/img/project-7.jpg");
            }
            #project-8 {
                background-image: url("../../static/img/project-8.jpg");
            }
            #project-9 {
                background-image: url("../../static/img/project-9.jpg");
            }
            #project-10 {
                background-image: url("../../static/img/project-10.jpg");
            }
            #project-11 {
                background-image: url("../../static/img/project-11.jpg");
            }
            #project-12 {
                background-image: url("../../static/img/project-12.jpg");
            }
        }
        [class*="col-"]:after {
            content: "";
            background: rgba(0, 0, 0, 0.7); // фон с прозрачностью 70%
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
}

.work {
    padding: 3rem;
    .data-form {
        form {
            label {
                letter-spacing: 3px;
                color: rgba(0, 0, 0, 0.55);
                display: grid;
                margin-bottom: 20px;
                input,
                textarea {
                    margin-top: 5px;
                    line-height: 40px;
                    border-radius: 0;
                    border: solid 1px #dcdfe3;
                    padding-left: 15px;
                }
            }
            button {
                margin-top: 20px;
                display: block;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }
    }
    .img {
        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    .info_contact {
        display: block;
        margin-bottom: 30px;
        .icon {
            margin-bottom: 10px;
        }
        h3 {
            font-size: 16px;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
        p {
            color: rgba(0, 0, 0, 0.55);
        }
    }
}

.footer {
    background-color: #131d3b;
    padding: 1.5rem;
    color: white;
    .row {
        [class*="col-"] {
            padding-left: 0;
            padding-right: 0;
        }
        .block-contacts {
            align-self: center;
            justify-content: center;
            .adres {
                max-width: 50%;
                font-size: 16px;
                padding-bottom: 5%;
            }
            .contacts {
                span {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

.menu-mob {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    background-color: #131d3bd9;
    overflow: hidden;
    ul {
        text-align: center;
        margin-top: 180px;
        li {
            a,
            span {
                color: #fff;
                display: block;
                text-transform: uppercase;
                font-size: 16px;
                position: relative;
                height: 60px;
                outline: none;
                letter-spacing: 4px;
                text-decoration: none;
            }
        }
    }
}

.arrow-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    content: "";
    border-radius: 50%;
    border: 1px solid red;
    padding: 10px 15px;
    box-shadow: 0 0 10px rgb(255 0 0);
    background: white;
    z-index: 1503;
}

@media (max-width: 600px) {
    .navbar {
        img {
            width: 70%;
            height: auto;
        }
        .navbar-toggler-custom {
            display: block;
            position: fixed;
            right: 20px;
            background-color: white;
            z-index: 51;
            width: 60px;
            height: 40px;
            line-height: 1;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 0.25rem;
            .sandwich {
                width: 28px;
                height: 28px;
                position: absolute;
                top: 8px;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                z-index: 200;
                [class*="sw-"] {
                    position: relative;
                    width: 28px;
                    height: 3px;
                    background: #131d3b;
                    border: none;
                    border-radius: 4px 4px 4px 4px;
                    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
                    transition: transform 0.5s, top 0.2s;
                    display: block;
                }
                .sw-top {
                    top: 0;
                    transition: transform 0.5s, top 0.2s;
                }
                .sw-middle {
                    top: 6.6px;
                    transition: transform 0.5s, top 0.2s;
                }
                .sw-bottom {
                    top: 13.5px;
                    transition: all 0.5s;
                }
            }
            .active {
                .sw-top {
                    top: 9px;
                    transform: rotate(-45deg);
                }
                .sw-middle {
                    top: 6.6px;
                    transform: rotate(45deg);
                }
                .sw-bottom {
                    top: 0;
                    opacity: 0;
                    transform: rotate(180deg);
                }
            }
        }
    }
    .about {
        padding: 2rem;
        .block-desc {
            padding: 0;
        }
    }
    .project {
        padding: 2rem 0 0 0;
        .row {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
            .block-project-text {
                z-index: 2;
                span {
                    display: block;
                    color: white;
                }
                .project-name {
                    font-size: 20px !important;
                    font-weight: 500;
                    padding-bottom: 2%;
                }
                .projec-place {
                    padding: 2% 0;
                    font-size: 14px !important;
                    border-bottom: solid 1px #6c757d;
                }
                .project-width {
                    padding-top: 2%;
                    font-size: 16px !important;
                }
            }
        }
    }
    .service {
        padding: 2rem;
        .service-info {
            border-bottom: 1px solid #dcdfe3;
        }
        .service-info:last-child {
            border-bottom: unset;
        }
    }
    .team {
        padding: 2rem;
        .d-flex {
            flex-direction: column;
        }
        .teamated {
            max-width: 100%;
            margin-bottom: 2rem;
            .teamated-info {
                padding: 0 1rem 1rem 1rem;
            }
        }
    }
    .work {
        padding: 2rem;
    }
    .footer {
        padding: 1rem;
        .row {
            .block-contacts {
                padding-left: 0;
                .adres {
                    max-width: 100%;
                }
                .contacts {
                    padding-bottom: 5%;
                }
            }
            .links {
                padding: 0;
                ul {
                    padding-left: 0;
                    li {
                        display: inline-block;
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .team {
        .teamated {
            max-width: 30%;
            .teamated-info {
                padding: 0 1rem 1rem 1rem;
            }
        }
    }
    .work {
        padding: 3rem 0;
    }
}

@media (max-width: 1100px) {
    .project {
        h1 {
            color: black;
            text-align: center;
        }
        .row {
            [class*="col-"] {
                .block-project {
                    .block-project-text {
                        z-index: 2;
                        span {
                            display: block;
                            color: white;
                        }
                        .project-name {
                            font-size: 16px;
                            font-weight: 500;
                            padding-bottom: 2%;
                        }
                        .projec-place {
                            padding: 2% 0;
                            font-size: 12px;
                            border-bottom: solid 1px #6c757d;
                        }
                        .project-width {
                            padding-top: 2%;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}